<div class="container">
   <div class="col-md-4 col-md-offset-6">
       <ul rn-carousel rn-carousel-index="carouselIndex3" rn-carousel-transition="hexagon" rn-carousel-buffered class="carousel3">
          <li ng-repeat="job in jobList">
           <div ng-style="{'background-image': 'url(' + job.path + ')', 'background-repeat':'no-repeat' }"  class="bgimage well">
            <img ng-src="{{job.path}}" style="visibility:hidden"/>
        <p class="heroInfo">{{job.name}}</p>
         </div>
        </li>
  </ul>
</div>
<div class="col-md-4">
<div class="row">
  <form id="createNewHero">
  <div class="form-group">
    <label>name:</label>
    <input type="text" class="form-control" ng-model="name" name="name" placeholder="Enter name" required>
  </div>
  <div class="form-group">
    <label>job:</label>
    <select ng-model="selectedJob" required>
    <option ng-repeat="job in jobList" value="{{job.name}}">{{job.name}}</option>
  </select>
  </div>
  <button ng-click="createHero()" class="btn btn-default">create</button>
  <a class="btn btn-danger" >cancel</a>
  </form>
  <div class="btn-group" role="group" id="selectHero">
  <button ng-repeat="hero in user.heros"type="button" class="btn btn-default  col-md-4"><img ng-src="{{'img/jobs/'+hero.job +'.png'}}" class="img-responsive" ng-click="deleteHero(hero._id)"></button>
  <button type="button" class="btn btn-default col-md-4"><img src="img/jobs/createHero.jpg" class="img-responsive"></button>

</div>
  </div>
</div>
</div>

