<!--h1> Register </h1>
<div ng-controller = "SignupCtrl">
<div class="container">
<form  ng-submit="sendSignup()">
  <div class="form-group">
    <label>name:</label>
    <input type="text" class="form-control" ng-model="name" name="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label>email:</label>
    <input type="email" class="form-control" ng-model="email" name="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label>username:</label>
    <input type="text" class="form-control" ng-model="username" name="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label>password:</label>
    <input type="password" class="form-control" ng-model="password" name="password" placeholder="Enter password">
  </div>
  <div class="form-group">
    <label>confirm password:</label>
    <input type="password" class="form-control" ng-model="password2" name="password2" placeholder="Confirm password">
  </div>
  <div class="form-group">
    <label>profilePicture:</label>
    <input type="file" name="userpic" id="userpic" ng-model="userpic" class="form-control"/>
    <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
  </div>
  <button type="submit" class="btn btn-default" >Submit</button>
  <a class="btn btn-danger" href="/#categories">Cancel</a>
  </form>
</div>
</div-->
<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/api/photo"
     method    =  "post"
>
<input type="file" name="userPhoto" />
<input type="submit" value="Upload Image" name="submit">
</form>