

<div class="container">
<div class="row">
<div class="jumbotron col-md-8">
        <h1>Welcome</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a ng-hide="isLogin" class="btn btn-info" ng-click="open('sm')" role="button">Register today</a>
        <div ng-show="isLogin" class="btn-group" role="group">
          <button type="button" class="btn btn-info" ng-click="openDaily('sm')">create daily-job</button>
          <button type="button" class="btn btn-success" ng-click="openTask('sm')">create task</button>
          <button type="button" class="btn btn-danger" ng-click="getUpdate()">check-your-quest</button>
        </div>
        <br>
</div>
  <div class="col-md-3" ng-hide="isLogin">
  <h2>Login </h2>
    <form>
      <div class="form-group">
        <label>username:</label>
        <input type="text" class="form-control" ng-model="username" name="username" placeholder="Enter name" required>
      </div>
      <div class="form-group">
        <label>password:</label>
        <input type="password" rows="2" class="form-control" ng-model="password" name="password" placeholder="Enter password">
      </div>
      <div  class="form-group">
      <a type="submit" class="btn btn-info" ng-click="login()">login</a>
      </div>
    </form>
  </div>
  <div class="col-md-3" ng-show="isLogin">
    <img class=" img-responsive btn" src="img/logout.jpg" ng-click="logout()"/>
    <div>
      <p> chat </p>
    </div>
  </div>
</div>

<div ng-show ="isLogin">
<div class="row">
<div class="col-md-3">
<div class="row">
  <div class="col-md-3">
        <img class="media-object img-responsive userpic" ng-src="{{user.profileimage}}" alt="...">
  </div>
  <div class="col-md-9">
      <h4><strong>{{"hello " + user.username}}</strong></h4>
      <p> Level <span class="badge">{{user.gameplay.level}}</span></p>
  </div>
  <div class="col-md-12">
    <div clas="row">
    <div class="col-md-3">
      <p><strong>exp:</strong> </p>
    </div>
    <div class="col-md-9">
      <div class="progress">
      <div class="progress-bar progress-bar-danger" ng-style="{'width': 'myExp'}"></div>
  </div>
  </div>
  </div>
  </div>

   <div class="col-md-12">
   <div class="row">
    <div ng-repeat="(key, hero) in user.heros" class="col-md-4">
        </br>
        <input type="image" class="media-object img-responsive userpic" ng-src="{{'img/jobs/'+hero.job+'.png'}}" ng-click="deleteHero(hero._id, key )">
        <p>{{hero.name}}</p>
    </div>
   </div>
   </div>
   </div>
   </div>

    <div class="col-md-3 well">
      <h4><b>create hero</b></h4>
    <form>
      <div class="form-group">
        <label>name:</label>
        <input type="text" class="form-control" ng-model="hero.name" placeholder="Enter name" required>
      </div>
      <div class="form-group">
        <label>job:</label>
        <select ng-model="hero.job">
          <option ng-repeat="job in jobList" value="{{job.name}}">{{job.name}}</option>
        </select>
      </div>
      <div  class="form-group">
      <a type="submit" class="btn btn-warning" ng-click="createHero()">create</a>
      </div>
    </form>
  </div>


<div class="col-md-3">
  <tabset>
    <tab>
      <tab-heading>
        <i class="glyphicon glyphicon-bell"></i> daily-job
      </tab-heading>
       <div class="list-group">
          <button type="button" class="list-group-item" ng-click="showDaily(key)" ng-repeat="(key, daily) in user.daily">{{daily.name + ' -rate: ' + daily.rate}} <span class="badge">{{daily.streak}}</span></button>
       </div>
       
    </tab>
    <tab select="alertMe()">
      <tab-heading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </tab-heading>

       <div class="list-group">
          <button type="button" class="list-group-item" ng-click="showTask(key)" ng-repeat="(key, task) in user.task">{{task.name + ' -rate: ' + task.rate}} <span class="badge">{{task.completed}}</span></button>
       </div>

    </tab>
  </tabset>
</div>
<div class="col-md-3">
  <div class="well list-group-item">
            <button type="button" ng-click="showEditDaily()" class="btn-success rightButton"> {{buttonName}} </button>
            <div ng-hide="showEdit">
              <h2>{{quest.name}}</h2>
              <p><span class="badge">{{quest.streak}}</span>{{quest.info}}</p>
              <form>
              <label>
                <a  class="btn btn-info"ng-click="submitCompleteQuest(isDaily, quest)"> completed </a>
              </label>
              </form>
              <p>Last Modified / deadline :</p> 
              <span>{{(quest.lastmodified|| quest.deadline) | date:'dd-MM-yyyy'}}</span>
              <br>
              <button type="button" class="btn-danger"><i class="glyphicon glyphicon-bell"></i> delete</button>
           </div>   
           <div ng-show="showEdit">
           </hr>
              <form>
                <div class="form-group">
                  <label>name:</label>
                  <input type="text" class="form-control" ng-model="quest.name" name="questName" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                  <label>info:</label>
                  <textarea type="text" rows="2" class="form-control" ng-model="quest.info" name="questInfo" placeholder="Enter info"></textarea>
                </div>
                <div  class="form-group">
                  <label>date:</label>
                  <input type="date" class="form-control" ng-model="quest.deadline" name="questDate" placeholder="Enter name" required>
                </div>
                <label>rate:</label>
                <select ng-model="quest.rate" convert-to-number>
                  <option value="5">Easy</option>
                  <option value="10">Medium</option>
                  <option value="15">Hard</option>
                </select>
              </form>
              <button type="button" class="btn-danger"><i class="glyphicon glyphicon-floppy-disk"></i> save </button>
          </div>
  </div>
</div>
</div>
</div>
</div>